@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* -----------BACKGROUND + SCROLL----------------- */

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}


.one {
    background: #FFBE98;
}

.two {
    background: #F05A7E;
}

.three {
    background: #125B9A;
}

.four {
    background: #0B8494;
}

/* -----------FIRSTPAGE---------------------- */

.one {
    min-height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.one a {
    
    border: .1rem solid transparent;
    transition: .1s ease-in-out;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 6rem;
    position: absolute;
    top: 0rem;
    background-color: #FFBE98;
    width: 23%;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: center;
    justify-content: space-between;
}

.nav {
    flex: 1;
    height: 2rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: center;
}

.nav a {
    width: 100%;
    display: block;
    border: .1rem solid transparent;
}

.one a:hover {
    border: .1rem solid transparent;
    background: #125B9A;
    transition: background-color 0.3s ease;
}

.cta h1 {
    font-size: 3rem;
    color: #F05A7E;
}

.cta p {
    padding-bottom: 5rem;
}

.shape {
    background: #125B9A;
    height: 7rem;
    width: 7rem;  
}

.shape2 {
    background: #0B8494;
    height: 7rem;
    width: 7rem;
}


.shape3 {
    background: #F05A7E;
    height: 7rem;
    width: 7rem;
}

@media (prefers-reduced-motion: no-preference) {
    .scroll {
        animation-name: scroll-effect;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}

@media (prefers-reduced-motion: no-preference){
    .scroll {
        animation-play-state: running;
    }
}

.scroll {
    align-items: center;
    justify-items: center;
    flex: 1;
}

@keyframes scroll-effect {
    0% {
        transform: translateY(0%)
    }
    50% {
        transform: translateY(9%);
    }
}
/* ------------SECOND SCROLL------------------ */

.two {
    min-height: 100vh;
    scroll-snap-align: start;
}

.grid-gallery {
    display: flex;
}

.gallery {
    height: 100vh;
    width: 100%;
    display: flex;

}

.gallery img {
    height: 23%;
    object-fit: cover;
    cursor: pointer;
    border: .5rem solid transparent;
    transition: .6s ease-in-out;
    width: 50%;
}

.gallery img:hover {
    border: .5rem solid #125B9A;
}

.imgframe1, .imgframe2, .imgframe3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    align-items: center;
}

/* ------------THIRD SCROLL------------------ */

.three {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.heading {
    justify-content: center;
    display: flex;
    font-size: 2rem;
    align-items: center;
    flex: 3;
}

.heading h1 {
    background: #F05A7E;
}

.page-3 {
    justify-content: space-evenly;
    display: flex;
    flex: 2;
    align-items: center;
    height: 30%;
    border-top: 0.5rem solid #0B8494;
}

.text-box {
    width: 30%;
}

.text-box1 {
    width: 30%;
}
/* ------------FOURTH SCROLL------------------ */

.four {
    min-height: 100vh;
    scroll-snap-align: start;
    width: 100%;
}

.list-gallery{
    height: 80vh;
    width: 100%;
    display: flex;
}

.list-gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.list-gallery li {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    display: flex;
}

.list-gallery li:last-child{
    flex-grow: 0;
}
.list-gallery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    border-top: 1rem solid #F05A7E;
}

.wrapper2 {
    color: #F05A7E;
    font-size: 1.7rem;
}

.wrapper1 {
    flex-direction: row;
}